@media (min-width: 768px){
    .image-size {
        width: 11rem;
    }
}
@media (min-width: 640px) {
    .image-size {
        width: 9rem;
    }
}
@media (min-width: 1024px) {
    .image-size {
        width: 13rem;
    }
}
.image-size {
    width: 11rem;
}
.image-box {
    position: relative;
    width:100%;
    height:300px;
    padding-right: 7.5px;
    padding-left: 7.5px;
    max-width: 200px;
    flex: 0 0 200px;
    -webkit-flex: 0 0 200px;
    -ms-flex:0 0 200px;
    margin-bottom: 60px;
}
.image-box a{
    color:#FFFFFF;
}
.image-box a:hover, .image-box a:active{
    color: #6f42c1;
}
.overflow-hidden {
    overflow: hidden;
}
.absolute {
    position: absolute;
}
.rounded-xl {
    border-radius: 0.75rem;
}

.bg-cover {
    background-size: cover;
}

.outline-none {
    outline: 2px solid transparent;
    outline-offset: 2px;
}
.w-full {
    width: 100%;
}
.h-full {
    height: 100%;
}
.inset-0, .inset-y-0{
    top:0;
    bottom:0;
}
.inset-0 {
    right:0;
    left:0;
}
.shadow {
    --tw-shadow:0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px -1px rgba(0,0,0,.1);
}
.absolute {
    position: absolute;
}
.border-box {
    box-sizing: border-box;
    display: block;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0;
    margin: 0;
    padding: 0;
}
.items-center {
    align-items: center;
}
.flex {
    display: flex;
}
.left-0 {
    left: 0;
}
.right-0 {
    right: 0;
}
.justify-between {
    justify-content: space-between;
}

ul .cards-vertical {
    grid-template-columns: repeat(auto-fill,minmax(9.375rem,1fr));
}
ul .cards-horizontal, ul .cards-vertical {
    display: grid;
    gap: 1rem;
}
menu,ol,ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.video-tag-line {
    height: 40px;
    position: absolute;
    top: 260px;
    right: 20px;
    line-height: 1.2;
    vertical-align: middle;
    text-align: center;
    font-weight: 400;
    display: inline-block;
}
.video-tag {
    float: right;
    margin: 0 5px;
    border-radius: 3px;
    border: 1px solid #ddd;
    color:#6c757d;
    font-size: 10px;
    padding:5px;
    position: relative;
    text-align: center;
    font-weight: 400;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.media-page {
    position: relative;
    margin-left: -1rem;
    margin-right: -1rem;
    background-size: cover;
    background-position: 50%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: calc(-4rem - env(safe-area-inset-top));
    padding-top: calc(4rem + env(safe-area-inset-top));
}
.media-page-bg-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -10;
}

.badge {
    margin:auto 5px;
}